html body {
	margin: 10px;
	padding: 0;
	font-family: sans-serif, serif;
}

form {
	margin-bottom: 10px;
}

h2 {
	color: gray;
}

input {
	margin: 5px;
}

button {
	margin: 0px 5px 0px 5px;
}

table {
	width: 400px;
}

/*td {
	padding-bottom: 2px;
}*/

.category_table_column {
	background-color: green;
	width: 100%;
	color: #fff;
	font-size: 1.3em;
	padding-left: 10px;
}

.item_table_column {
	background-color: red;
	width: 100%;
	color: #fff;
	font-size: 1.3em;
}

.category-input {
	width: 350px;
	height: 25px;
	border-radius: 5px;
	border: #0099ff 1px solid;
}

.delete {
	float: right;
	color: red;
	height: 30px;
	width: 30px;
	margin-top: 3px;
}


/*#infinity-items {
	display: none;
}*/

/*#raffle-items {
	display: none;
}*/

.stays {
	color: orange;
}

.go_button {
	height: 30px;
	background-color: orange;
}

.random_item_result_div {
	min-height: 70px;
	/*width: 351px;*/
	margin-left: 2px;
	/*border: solid brown 1px;*/
}

h2#random_item_result {
	color: brown;
	font-size
}